.App {
  max-width: 90%;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

input.table-input {
  width: 45%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-row {
  display: flex;
  justify-content: space-between;
}

.styled-table {
  border-collapse: collapse;
  margin-top: 20px;
  width: 100%;
  border: none;
  box-shadow: 0px 8px 45px #888888
}

.styled-table th{
  text-align: left;
  padding:  16px;
}
.styled-table td {
  /* border: 1px solid #dddddd; */
  text-align: left;
  padding: 4px 16px;

}

.styled-table th {
  background-color: #f2f2f2;
}

.save-btn {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #45a049;
}

.cancel-btn {
  padding: 10px 15px;
  background-color: #db823a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-btn:hover {
  background-color: #d48841;
}

.delete-btn {
  background-color: white;
  /* color: white; */
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  
}

.delete-btn:hover {
  /* background-color: #c5c0c0; */
}

/* Hide the spinner arrows in number inputs */
input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* For Safari and Chrome */
  margin: 0;                /* Remove margin */
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
